body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    padding: 20px;
}

.slider {
    position: relative;
    display: flex;
    background: radial-gradient(#fff, #ffd6d6, #ff5757);
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 500px;
    scroll-snap-type: x mandatory;
}

.slide {
    display: flex;
    width: 300%;
    height: 100%;
}

.slide .slide-content {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    box-sizing: border-box;
    animation: slideAnimation 15s infinite;
}

.slide .slide-content img {
    width: 1325PX;
    height: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: rgb(94, 94, 94);
    border-radius: 50%;
    animation: dotAnimation 15s infinite;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}